<div class="page-header"></div>
<nb-card accent="info" >
  <nb-card-header>
    <ng-container ><span>المواد</span></ng-container>
    
    
    <div class="float-left">
        <button class="rafidin-icon-button" nbButton status="info" (click)="openCreateDialog()">
          <i class="nb-plus"></i>
          <ng-container ><span>اضافة مادة</span></ng-container>
        </button>
    </div>
  </nb-card-header>
  <nb-card-body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">اسم المادة</th>
            <th scope="col">الباركود</th>
            <th scope="col">سعر الشراء</th>
            <th scope="col">سعر البيع</th>
            <th scope="col">الكمية</th>
            <th scope="col">الخيارات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item.name}}</td>
            <td>{{item.barcode}}</td>
            <td>{{item.buy_price}}</td>
            <td>{{item.sell_price}}</td>
            <td *ngIf="item.quantity == -1">غير محدودة</td>
            <td *ngIf="item.quantity != -1">{{item.quantity}}</td>
            <td width="200">
              <ngx-table-dropdown [options]="tableActions" (onActionSelected)="doAction($event, item)"></ngx-table-dropdown>
            </td>
          </tr>
        </tbody>
      </table>
  
    </nb-card-body>
</nb-card>
