<nb-card accent="info" class="dialog"> 
  <nb-card-header ngxTranslate="edit_user_acount">تعديل حساب المستخدم</nb-card-header>
    <nb-card-body> 
      <form [formGroup]="_form" (ngSubmit)="_form.valid && onSubmit()">
        <div class="row">
          <div class="col-12">
            <!-- <div> -->
              <nb-card accent="warning" *ngIf="_form.invalid && (_form.dirty || _form.touched)">
                  <nb-card-header>
                    <h3  ngxTranslate="please_complete_following_error">من فضلك اكمل الأخطاء التالية</h3>
                  </nb-card-header>
                  <nb-card-body>
                    <ul>
                      <ng-container *ngIf="_form.controls['email'].invalid">
                          <li *ngIf="_form.controls['email'].errors.required"  ngxTranslate="email_location_reuired">الايميل مطلوب</li>
                      </ng-container>
                     
                      <ng-container *ngIf="_form.controls['repassword'].invalid">
                          <li *ngIf="_form.controls['repassword'].errors.equalTo" ngxTranslate="sure_password">قم بتأكيد كلمة المرور</li>
                      </ng-container>
                      <ng-container *ngIf="_form.controls['name'].invalid">
                        <li *ngIf="_form.controls['name'].errors.required" ngxTranslate="first_name_location_reuired">خانة الاسم الاول مطلوبة</li>
                      </ng-container>
                      <ng-container *ngIf="_form.controls['phone'].invalid">
                        <li *ngIf="_form.controls['phone'].errors.required" ngxTranslate="phone_number_required"> رقم الهاتف مطلوب</li>
                      </ng-container>
                    </ul>
                  </nb-card-body>
              </nb-card>
            </div>
          <!-- </div> -->
            
           
          <div class="input-group col-12 mb-3">
            <label ngxTranslate="email">الايميل</label>
            <input type="text" nbInput fullWidth formControlName="email" [status]="_form.controls.email.errors && (_form.controls.email.touched || _form.controls.email.dirty) ? 'danger' : ''">
          </div>
          <div class="input-group col-6 mb-3">
            <label ngxTranslate="password">كلمة المرور</label>
            <input type="text" nbInput fullWidth formControlName="password" >
          </div>
          <div class="input-group col-6 mb-3">
            <label ngxTranslate="sure_password">تأكيد كلمة المرور</label>
            <input type="text" nbInput fullWidth formControlName="repassword" [status]="_form.controls.repassword.errors &&  _form.controls.repassword.dirty ? 'danger' : ''">
          </div>
          <div class="input-group col-12 mb-3">
            <label ngxTranslate="full_name">الاسم الكامل</label>
            <input type="text" nbInput fullWidth formControlName="name" [status]="_form.controls.name.errors && (_form.controls.name.touched || _form.controls.name.dirty) ? 'danger' : ''">
          </div>
          <div class="input-group col-12 mb-3">
            <label ngxTranslate="phone_number">رقم الهاتف</label>
            <input type="text" nbInput fullWidth formControlName="phone" [status]="_form.controls.phone.errors && (_form.controls.phone.touched || _form.controls.phone.dirty) ? 'danger' : ''">
          </div>
          
        </div>
      </form>
  </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="_form.invalid" (click)="_form.valid && onSubmit()">تعديل</button>
      <button nbButton status="danger" (click)="dismiss()">اغلاق</button>
  </nb-card-footer>
  </nb-card> 
  