<div class="page-header"></div>
<nb-card accent="info" >
    <nb-card-header >
      <span ngxTranslate="view_benefit">عرض استحقاقات</span>
      
      <div class="float-left">
          <button class="rafidin-icon-button" nbButton status="info" (click)="openAddDialog()">
            <i class="nb-plus"></i>
        <span ngxTranslate="add_new_merit">اضافة استحقاق</span>    
          </button>
      </div>
    </nb-card-header>
    <nb-card-body>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" ngxTranslate="name_of_premium">اسم العلاوة</th>
              <th scope="col" ngxTranslate="value_of_premium">قيمة العلاوة</th>
              <th scope="col" ngxTranslate="type_of_premium">نوع العلاوة</th>
              <th scope="col">الحالة</th>
              <th scope="col" ngxTranslate="choise">خيارات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allowances">
              <td>{{item.name}}</td>
              <td>{{item.amount | number}}</td>
              <td>
                <span ngxTranslate="constant" *ngIf="item.type == 1">ثابتة</span> 
                <span ngxTranslate="percentage" *ngIf="item.type == 2">مئوية</span> 
              </td>
              <td>
                <span ngxTranslate="active" class="badge badge-success" *ngIf="item.status == 1">فعال</span>
                <span ngxTranslate="not_active" class="badge badge-danger"  *ngIf="item.status != 1">غير فعال</span>
            </td>
              <td width="200">
                <ngx-table-dropdown [options]="tableActions" (onActionSelected)="doAction($event, item)"></ngx-table-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
        <ngx-pagination (pageInit)="pageInit($event)" (pageChange)="pageChange($event)" [isEmptyNext]="isPaginationNextEmpty"></ngx-pagination>
      </nb-card-body>
  </nb-card>
