<nb-card accent="info" class="dialog">
    <nb-card-header  ngxTranslate="edit_circuit">تعديل الدائرة</nb-card-header>
    <nb-card-body>
      <form [formGroup]="_form">
        <div class="row">

            <div class="col-12">
                <!-- <div> -->
                  <nb-card accent="danger">
                    <nb-card-header>
                      <h3 ngxTranslate="consider_the_following" >يجب مراعاة الاتي</h3>
                    </nb-card-header>
                    <nb-card-body>
                      <ul>
                        <ng-container *ngIf="_form.controls['name'].invalid">
                          <li *ngIf="_form.controls['name'].errors.required" ngxTranslate="circuit_name_reuired">اسم الدائرة مطلوب</li>
                        </ng-container>
                      </ul>
                    </nb-card-body>
                </nb-card>
              </div>

          <div class="input-group col-6 mb-3">
            <label ngxTranslate="circuit_name">اسم الدائرة</label>
            <input type="text" nbInput fullWidth formControlName="name" [status]="_form.controls.name.errors && (_form.controls.name.touched || _form.controls.name.dirty) ? 'danger' : ''">
          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="_form.invalid" (click)="_form.valid && onSubmit()" ngxTranslate="edit">تعديل</button>
      <button nbButton status="danger" (click)="dismiss()" ngxTranslate="close">اغلاق</button>

    </nb-card-footer>
  </nb-card>
