<nb-card accent="info" class="dialog">
  <nb-card-header ><span ngxTranslate="placement_employe">تنسيب الموظف</span></nb-card-header>
  <nb-card-body>
    <form [formGroup]="_form">
      <div class="row">
        <div class="input-group col-12 mb-3" *ngIf="!editModeInfo">
          <label class="block" ngxTranslate="main_circle">الدائرة الرئيسية</label>
          <div>
              <nb-select class="block" 
                         placeholder="{{ editModeInfo ? 'الرئيسية لـ ' + editModeInfo.departmentId.name : 'اختر الدائرة'}}" 
                         formControlName="parentDupId" 
                         outline
                         selected="{{_form.controls.parentDupId.value}}"
                         [status]="_form.controls.parentDupId.errors && (_form.controls.parentDupId.touched || _form.controls.parentDupId.dirty) ? 'danger' : ''" >
                  <nb-option *ngFor="let item of departments" value="{{item.id}}">{{item.name}}</nb-option>
              </nb-select>
          </div>
        </div>

        <div class="input-group col-12 mb-3" *ngIf="!editModeInfo">
          <label class="block" ngxTranslate="sub_department">الدائرة الفرعية</label>
          <div>
              <ng-container *ngFor="let item of departments">
                <ng-container *ngIf="item.id == _form.controls.parentDupId.value">
                    <nb-select 
                          class="block" 
                          placeholder="اختر القسم" 
                          formControlName="departmentId" 
                          outline 
                          selected="{{_form.controls.departmentId.value}}"
                          [status]="_form.controls.departmentId.errors && (_form.controls.departmentId.touched || _form.controls.departmentId.dirty) ? 'danger' : ''">
                        <nb-option *ngFor="let dep of item.subDepartments" value="{{dep.id}}">{{dep.name}}</nb-option>
                    </nb-select>
                </ng-container>
              </ng-container>
          </div>
        </div>

        <div class="input-group col-6 mb-3">
            <label ngxTranslate="job_grade">الترفيع</label>
            <input type="number" min="1" max="50" nbInput fullWidth formControlName="grade" [status]="_form.controls.grade.errors && _form.controls.grade.dirty ? 'danger' : ''">
        </div>

        <div class="input-group col-6 mb-3">
            <label ngxTranslate="job_level">الدرجة الوظيفية</label>
            
            <nb-select 
                class="block" 
                placeholder="اختر الدرجة الوظيفية" 
                formControlName="level" 
                outline 
                selected="{{_form.controls.level.value}}"
                [status]="_form.controls.level.errors && (_form.controls.level.touched || _form.controls.level.dirty) ? 'danger' : ''">
                <nb-option value="1"><span ngxTranslate="n1" >اولى</span></nb-option>
                <nb-option value="2"><span ngxTranslate="n2" >ثانية</span></nb-option>
                <nb-option value="3"><span ngxTranslate="n3" >ثالثة</span></nb-option>
                <nb-option value="4"><span ngxTranslate="n4" >رابعة</span></nb-option>
                <nb-option value="5"><span ngxTranslate="n5" >خامسة</span></nb-option>
                <nb-option value="6"><span ngxTranslate="n6" >سادسة</span></nb-option>
                <nb-option value="7"><span ngxTranslate="n7" >سابعة</span></nb-option>
                <nb-option value="8"><span ngxTranslate="n8" >ثامنة</span></nb-option>
                <nb-option value="9"><span ngxTranslate="n9" >تاسعة</span></nb-option>
                <nb-option value="10"><span ngxTranslate="n10" >عاشرة</span></nb-option>
                <nb-option value="11"><span ngxTranslate="director" >المدير العام ومن بدرجته</span></nb-option>
                <nb-option value="12"><span ngxTranslate="specail_degree" >الدرجة الخاصة</span></nb-option>
                <nb-option value="13"><span ngxTranslate="sub_ministry_degree" >وكيل الوزارة ومن بدرجته</span></nb-option>
              </nb-select>
        </div>

        <div class="input-group col-12 mb-3">
          <label ngxTranslate="bank" class="block">المصرف</label>
          <div>
              <nb-select class="block" 
                         placeholder="اختر المصرف" 
                         formControlName="bankId" 
                         outline
                         selected="{{selectedBankId}}"
                         [status]="_form.controls.bankId.errors && (_form.controls.bankId.touched || _form.controls.bankId.dirty) ? 'danger' : ''" >
                         <nb-option *ngFor="let item of banks" value="{{item.id}}">{{item.name}}</nb-option>
              </nb-select>
          </div>
        </div>

        

        <div class="input-group col-6 mb-3">
          <label ngxTranslate="job_title" >العنوان الوظيفي</label>
          
          <nb-select 
              class="block" 
              placeholder="اختر الدرجة الوظيفية" 
              formControlName="jobTitleId" 
              outline 
              selected="{{selectedJobTitle}}"
              [status]="_form.controls.jobTitleId.errors && (_form.controls.jobTitleId.touched || _form.controls.jobTitleId.dirty) ? 'danger' : ''">
              
              <nb-option *ngFor="let item of jobTitles" value="{{item.id}}">
                <ng-container *ngIf="editModeInfo && selectedJobTitle == null && item.name == editModeInfo.jobTitle">
                    {{setSelectedJobTitleValue(item.id)}}
                </ng-container>
                
                {{item.name}}
              </nb-option>

            </nb-select>
      </div>

   

      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    
    <button nbButton [disabled]="_form.invalid" (click)="_form.valid && onSubmit()">
      <ng-container *ngIf="editModeInfo"><span ngxTranslate="edit">تعديل</span></ng-container>
      <ng-container *ngIf="!editModeInfo"><span ngxTranslate="add">اضافة</span></ng-container>
    </button>
    <button nbButton status="danger" (click)="dismiss()" ngxTranslate="close">اغلاق</button>

  </nb-card-footer>
</nb-card>
