<h1 id="title" class="title" ngxTranslate="log_in" >تسجيل الدخول</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title" ><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-login" ngxTranslate="email">الايميل:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.login"
           #email="ngModel"
           name="email"
           id="input-email"
           pattern=".+@.+\..+"
           placeholder="login address"
           autofocus
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required" ngxTranslate="email_location_reuired">
        خانة الايميل مطلوبة!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern" ngxTranslate="email_must_be_correct">
        يجب ان يكون الايميل صحيحاً!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password" ngxTranslate="password">كلمة المرور:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="Password"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required" ngxTranslate="password_location_reuired">
        خانة كلمة المرور مطلوبة!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength" ngxTranslate="password_condition">
        كلمة المرور يجب ان تحتوي
        من {{ getConfigValue('forms.validation.password.minLength') }}
        الى {{ getConfigValue('forms.validation.password.maxLength') }}
        حروف او ارقام
      </p>
    </ng-container>
  </div>

  

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    تسجيل الدخول
  </button>
</form>