<nb-card accent="info" class="dialog">
  <nb-card-header ngxTranslate="user_placement">تنسيب المستخدم</nb-card-header>
  <nb-card-body>
    <form [formGroup]="_form">
      <div class="row">

         

        <div class="input-group col-12 mb-3">
          <label class="block col-12" ngxTranslate="main_circle">الدائرة الرئيسية</label>
          <div class="col-12">
              <nb-select 
                  class="block  " 
                  placeholder="الدائرة" 
                  formControlName="parentDupId" 
                  outline 
                  selected="{{_form.controls.parentDupId.value}}"
                  [status]="_form.controls.parentDupId.errors && (_form.controls.departmentId.touched || _form.controls.departmentId.dirty) ? 'danger' : ''" >
                  <nb-option class="minwidth350" *ngFor="let item of departments" value="{{item.id}}">{{item.name}}</nb-option>
              </nb-select>
          </div>
        </div>
        <div class="input-group col-12 mb-3" >
          <label class="block col-12" ngxTranslate="sub_department">الدائرة الفرعية</label>
          <div  class="col-12">
              <ng-container *ngFor="let item of departments">
                <ng-container *ngIf="item.id == _form.controls.parentDupId.value">
                    <nb-select 
                          class="block" 
                          placeholder="اختر القسم" 
                          formControlName="departmentId" 
                          outline 
                          selected="{{_form.controls.departmentId.value}}"
                          [status]="_form.controls.departmentId.errors && (_form.controls.departmentId.touched || _form.controls.departmentId.dirty) ? 'danger' : ''">
                        <nb-option *ngFor="let dep of item.subDepartments" value="{{dep.id}}">{{dep.name}}</nb-option>
                    </nb-select>
                </ng-container>
              </ng-container>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    
    <button nbButton  (click)="onSubmit()">
      <ng-container ><span ngxTranslate="placement">تنسيب</span></ng-container>
    </button>
    <button nbButton status="danger" (click)="dismiss()" ngxTranslate="close">اغلاق</button>

  </nb-card-footer>
</nb-card>
