<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="معلومات اساسية">
        <p ngxTranslate="main_info_about_ministry_here">معلومات اساسية عن الوزارة هنا</p>
      </nb-tab>
      <nb-tab tabTitle="معلومات الدفعات">
        <p ngxTranslate="main_info_about_payment_here">معلومات اساسية عن الدفعات هنا</p>
      </nb-tab>
      <nb-tab tabTitle="معلومات اخرى">
        <p ngxTranslate="another_info_here">معلومات اخرى هنا</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
  <nb-card-footer>
      <button nbButton status="danger" (click)="dismiss()" ngxTranslate="close">اغلاق</button>
  </nb-card-footer>
</nb-card>