<div class="page-header"></div>
<nb-card accent="info" >
  <nb-card-header>
    <ng-container >
       <span ngxTranslate="view_department"> عرض الاقسام</span>
    </ng-container>
    
    
    <div class="float-left">
        <button class="rafidin-icon-button" nbButton status="info" [routerLink]="[ '/departments/create' ]" ngxTranslate="add_department">
          <i class="nb-plus"></i>
          اضافة قسم
        </button>
    </div>
  </nb-card-header>
  <nb-card-body>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" ngxTranslate="department_name">اسم القسم</th>
            <th scope="col" ngxTranslate="choise">الخيارات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of departments">
            <td>{{item.name}}</td>
            <td width="200">
              <ngx-table-dropdown [options]="tableActions" (onActionSelected)="doAction($event, item)"></ngx-table-dropdown>
            </td>
          </tr>
        </tbody>
      </table>
      <ngx-pagination (pageInit)="pageInit($event)" (pageChange)="pageChange($event)" [isEmptyNext]="isPaginationNextEmpty"></ngx-pagination>
    </nb-card-body>
</nb-card>
