<div class="page-header"></div>
<nb-card accent="info" >
  <nb-card-header >
    <span ngxTranslate="view_payment_info"> عرض معلومات الدفعات </span>
  <div class="float-left">
      <button class="rafidin-icon-button" nbButton status="warning" (click)="accordion.toggle()" *ngIf="date && canDownloadReport">
          <i class="nb-search"></i>
       <span ngxTranslate="reports">التقارير</span>
      </button>
  </div>
  </nb-card-header>
  <nb-card-body>
      <nb-accordion>
          <nb-accordion-item #accitem>
            <nb-accordion-item-body>
                <form [formGroup]="_form">
                    <div class="row">
       
                        <div class="input-group col-6 mb-3">
                          <label ngxTranslate="select_main_circle" >اختر الدائرة الرئيسية  </label>
                          <nb-select class="block" 
                                      placeholder="اختر الدائرة الرئيسية" 
                                      formControlName="parentDupId" 
                                      outline
                                      selected="{{_form.controls.parentDupId.value}}"
                                      [status]="_form.controls.parentDupId.errors && (_form.controls.parentDupId.touched || _form.controls.parentDupId.dirty) ? 'danger' : ''" >
                              <nb-option *ngFor="let item of departments" value="{{item.id}}">{{item.name}}</nb-option>
                          </nb-select>
                        </div>

                        <div class="input-group col-6 mb-3">
                            <label ngxTranslate="select_sub_circle" >اختر الدائرة الفرعية  </label>
                            <ng-container *ngFor="let item of departments">
                                <ng-container *ngIf="item.id == _form.controls.parentDupId.value">
                                    <nb-select 
                                          class="block" 
                                          placeholder="اختر القسم" 
                                          formControlName="departmentId" 
                                          outline 
                                          selected="{{_form.controls.departmentId.value}}"
                                          [status]="_form.controls.departmentId.errors && (_form.controls.departmentId.touched || _form.controls.departmentId.dirty) ? 'danger' : ''">
                                        <nb-option *ngFor="let dep of item.subDepartments" value="{{dep.id}}">{{dep.name}}</nb-option>
                                    </nb-select>
                                </ng-container>
                              </ng-container>
                          </div>
                        
                        <button [disabled]="_form.invalid" class="rafidin-icon-button" nbButton status="info" (click)="downloadPdfDepartmentReport()"  ngxTranslate="uploading_circuit_deduction_reports" >
                            تحميل تقارير استقطاع الدائرة
                        </button>
                        <button [disabled]="_form.invalid" class="rafidin-icon-button" nbButton status="info" (click)="downloadDepartmentPdfReport()"  ngxTranslate="download_department_reports" >
                          تحميل تقارير الدائرة
                        </button>
                        <button [disabled]="_form.invalid" class="rafidin-icon-button" nbButton status="info" (click)="viewJsonReport()" >
                           عرض التقرير
                        </button>
                    </div>
                  </form>

                  <form [formGroup]="_form2">
                      <div class="row">
         
                          <div class="input-group col-6 mb-3">
                            <label ngxTranslate="service" >الخدمة </label>
                            <nb-select class="block" 
                                        placeholder="اختر خدمة الاستقطاع" 
                                        formControlName="serviceId" 
                                        outline
                                        selected="{{_form2.controls.serviceId.value}}"
                                        [status]="_form2.controls.serviceId.errors && (_form2.controls.serviceId.touched || _form2.controls.serviceId.dirty) ? 'danger' : ''" >
                                <nb-option *ngFor="let item of services" value="{{item.id}}">{{item.name}}</nb-option>
                            </nb-select>
                          </div>
                          <div class="input-group col-6 mb-3">
                            </div>
                          <button [disabled]="_form2.invalid" class="rafidin-icon-button" nbButton status="info" (click)="downloadPdfDedicationReport()"  ngxTranslate="upload_cutout_report" >
                              تحميل تقريرالاستقطاع
                          </button>
                      </div>
                    </form>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        
    <div class="row">
      <div class="col-12 mb-4">
        <div class="row">
          <div class="col-12">
              <h4 ngxTranslate="chosse_date" >اختر التاريخ</h4>
          </div>
          <div [class]="date ? 'col-11' : 'col-12'">
            <input [nbDatepicker]="date3" class="form-control" [(ngModel)]="date">
            <nb-datepicker #date3></nb-datepicker>
          </div>
          <div *ngIf="date" class="col-1">
              <button nbButton status="success" (click)="updateRootSearch()" ngxTranslate="search">بحث</button>
          </div>

          
        </div>
      </div>
    </div>
      <div class="search" *ngIf="userPayments">
        <div class="row">
          <div class="col-12">
              <div class="row">
                <div class="col-12">
                    <h4 ngxTranslate="search_about_employe">ابحث عن موظف</h4>
                </div>
                <div class="col-10">
                   <input type="text" class="form-control" placeholder="بحث عن موظفين" [(ngModel)]="filter_search" (keyup)="updateSearchForEmployees($event)">
                </div>
                <div class="col-2">
                  <button nbButton status="info" class="mt-3" (click)="updateSearchForEmployees()" ngxTranslate="search" >بحث</button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <table class="table" *ngIf="(!userPayments) && lastThreePayments">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" ngxTranslate="payment_date" >تاريخ الدفعات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lastThreePayments; let i = index">
              <td>{{ i + 1}}</td>
              <td>{{ item | date }}</td>
            </tr>
          </tbody>
        </table>
      <table class="table" *ngIf="userPayments">
        <thead>
          <tr>
            <th scope="col"  ngxTranslate="full_name">الأسم الكامل</th>
            <th scope="col" ngxTranslate="merits">الأستحقاقات</th>
            <th scope="col" ngxTranslate="deductions">الأستقطاعات</th>
            <th scope="col" ngxTranslate="nominal_salary">ألراتب الأسمي</th>
            <th scope="col" ngxTranslate="total_salary">الراتب الكلي</th>
            <th scope="col" ngxTranslate="salary_after_deduction">الراتب بعد الأستقطاعات</th>
            <th scope="col" ngxTranslate="departmen">القسم</th>
            <th scope="col" ngxTranslate="job_title">العنوان الوظيفي</th>
            <th scope="col" ngxTranslate="choise">خيارات</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userPayments">
            <td>{{item.firstName}} {{ item.middleName }} {{ item.lastName }}</td>
            <td>{{item.totalEmployeeAllowances}}</td>
            <td>{{item.totalEmployeeDeductions}}</td>
            <td>{{item.payment.basicSalary | number}}</td>
            <td>{{item.payment.totalSalary | number}}</td>
            <td>{{item.payment.netSalary | number}}</td>
            <td>{{item.department.name}}</td>
            <td>{{item.jobTitle}}</td>
            <td width="200">
                <button nbButton status="info" class="mt-3" (click)="openInfoDialog(item)"  ngxTranslate="view_payment_info" >عرض كافة المعلومات</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ngx-pagination *ngIf="userPayments" (pageInit)="pageInit($event)" (pageChange)="pageChange($event)" [isEmptyNext]="isPaginationNextEmpty"></ngx-pagination>
    </nb-card-body>
</nb-card>
