<nb-card accent="info" >
  <nb-card-header ngxTranslate="view_sub_department">
    عرض الاقسام الفرعية
  </nb-card-header>
    
 
  <nb-card-body>
      <form [formGroup]="_form">
          
              <div class="input-group mb-4">
                  <input type="text" class="form-control" placeholder="اسم الدائرة" formControlName="name" aria-describedby="basic-addon2" >
                  <div class="input-group-append">
                    <button class="btn btn-primary btn_add" [disabled]="_form.invalid" type="button"(click)="addSubDept()" ngxTranslate="add">اضافة</button>
                  </div>
                </div>
       
        </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" ngxTranslate="department_name">اسم القسم</th>
            <th scope="col"  ngxTranslate="choise">الخيارات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of departments">
            <td>{{item.name}}</td>
            <td width="200">
              <ngx-table-dropdown [options]="tableActions" (onActionSelected)="doAction($event, item)"></ngx-table-dropdown>
            </td>
          </tr>
        </tbody>
      </table>
      <ngx-pagination (pageInit)="pageInit($event)" (pageChange)="pageChange($event)" [isEmptyNext]="isPaginationNextEmpty"></ngx-pagination>
    </nb-card-body>
</nb-card>
