<div class="page-header"></div>
<nb-card accent="info" >
  <nb-card-header>
    <ng-container > <span ngxTranslate="view_employees">عرض الموظفين</span>  </ng-container>
    <div class="float-left">
        <button *ngIf="!viewMode" (click)="openCreateEmployee()" class="rafidin-icon-button" nbButton status="info">
          <i class="nb-plus"></i>
          <ng-container > <span ngxTranslate="employee_create_title"> اضافة موظف</span>  </ng-container>
        </button>
        <button class="rafidin-icon-button" nbButton status="info" (click)="accordion.toggle()">
            <i class="nb-search"></i>
         <span ngxTranslate="advance_search">بحث متقدم</span>
        </button>
    </div>
  </nb-card-header>
  <nb-card-body>
      <nb-accordion>
          <nb-accordion-item #accitem>
            <nb-accordion-item-body>
                <form>
                    <div class="row">
                        <div class="input-group col-5 mb-3">
                          <label ngxTranslate="search">بحث  </label>
                          <input name="filter_search" type="text" nbInput fullWidth [(ngModel)]="filter_search">
                        </div>
                       
                        <div class="input-group col-5 mb-3">
                            <label ngxTranslate="search_by">بحث بواسطة</label>
                            <nb-select placeholder="بحث بواسطة" class="w-100" outline name="filter_search_type" [(ngModel)]="filter_search_type">
                              <nb-option value="name" ><span ngxTranslate="name">الاسم</span></nb-option>
                              <nb-option value="qismart"><span  ngxTranslate="qi_card_smart_id">QiCard Smart ID</span></nb-option>
                              <nb-option value="qinumber"><span ngxTranslate="qi_card_account_number">رقم حساب QiCard</span></nb-option>
                              <nb-option value="qicard"><span  ngxTranslate="qicard_number">رقم بطاقة كي كارد</span></nb-option>
                              <nb-option value="eid" ><span ngxTranslate="job_number">ألرقم ألوظيفي</span></nb-option>
                              <nb-option value="idN" ><span ngxTranslate="id_card_number"> رقم الهويه الموحده</span></nb-option>
                              <nb-option value="idP" ><span ngxTranslate="civil_status_id_number">رقم هوية الاحوال المدنيه</span></nb-option>
                              <nb-option value="idF"><span  ngxTranslate="gov_family_id">الرقم العائلي</span></nb-option>
                            </nb-select>
                        </div>
                                             
                        <button class="rafidin-icon-button btn_size" nbButton class="btn_search" (click)="filterFormSubmit()" ngxTranslate="search" >
                            بحث
                        </button>
                    </div>
                  </form>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
  

        
      <table class="table">
        <thead>
          <tr>
            <th scope="col" ngxTranslate="employee_name">اسم الموظف</th>
            <th scope="col" ngxTranslate="phone_number">رقم الهاتف</th>
            <th scope="col" ngxTranslate="choise">الخيارات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employees">
            <td>{{item.firstName + ' ' + item.middleName + ' ' + item.lastName}}</td>
            <td>{{item.mobileNo}}</td>
            <td width="200">
              <ngx-table-dropdown [options]="tableActions" (onActionSelected)="doAction($event, item)"></ngx-table-dropdown>
            </td>
          </tr>
        </tbody>
      </table>
      <ngx-pagination (pageInit)="pageInit($event)" (pageChange)="pageChange($event)" [isEmptyNext]="isPaginationNextEmpty"></ngx-pagination>
    </nb-card-body>
</nb-card>
