.table {
    margin-bottom: 5rem;
    thead th {
        border: 0;
    }
}
nb-accordion-item {
  margin: 0.4rem 0;
}

.btn_size {
  height: 40px;
  border-radius: 0.375rem;
  margin-top: 29px;
}
.btn_search {
  background: #858585 !important;
  height: 43px;
  margin-top: 28px;
}
