<nb-card accent="info">
  <nb-card-header ngxTranslate="add_new_employ">اضافة موظف جديد</nb-card-header>
  <nb-card-body>
    <form [formGroup]="_form">
      <div class="row">
        <div class="col-12">
          <div *ngIf="_form.invalid && _form.dirty" class="alert alert-danger">
            <h3 ngxTranslate="please_complete_following_error">من فضلك اكمل الأخطاء التالية</h3>
            <ul>
              <li *ngIf="form.fullName.errors?.required && form.fullName.dirty" ngxTranslate="employ_name_required">اسم الموظف مطلوب</li>
              <li *ngIf="form.fullName.errors?.rangeLength && form.fullName.dirty" ngxTranslate="employ_name_must_be_between_4_to_40_letter">يجب ان يكون أسم الموظف ما بين ٤ الى ٤٠ حرف</li>
              <li *ngIf="form.motherFullName.errors?.rangeLength && form.motherFullName.dirty" ngxTranslate="mother_name_must_be_between_4_to_40_letter">يجب ان يكون أسم الأم ما بين ٤ الى ٤٠ حرف</li>
              <li *ngIf="form.motherFullName.errors?.required && form.motherFullName.dirty" ngxTranslate="mother_name_required">اسم الأم مطلوب</li>
              <li *ngIf="form.phoneNumber.errors?.digits && form.phoneNumber.dirty" ngxTranslate="phone_number_accept_numbers_only">رقم الهاتف يقبل ارقام فقط</li>
              <li *ngIf="form.phoneNumber.errors?.rangeLength && form.phoneNumber.dirty" ngxTranslate="phone_number_must_be_between_10_to_11_number_only">يجب ان يكون رقم الهاتف ما بين ١٠ الى ١١ رقم</li>
              <li *ngIf="form.phoneNumber.errors?.required && form.phoneNumber.dirty" ngxTranslate="phone_number_required"> رقم الهاتف مطلوب</li>
              <li *ngIf="form.smartNumber.errors?.rangeLength && form.smartNumber.dirty" ngxTranslate="smart_number_must_be_between_4_to_40_letter">يجب ان يكون الرقم الذكي ما بين ٤ الى ٤٠ حرف</li>
              <li *ngIf="form.smartNumber.errors?.digits && form.smartNumber.dirty" ngxTranslate="smart_number_accept_only_numbers">الرقم الذكي يقبل ارقام فقط</li>
              <li *ngIf="form.smartNumber.errors?.required && form.smartNumber.dirty" ngxTranslate="smart_number_required"> الرقم الذكي مطلوب</li>
              <li *ngIf="form.ministryName.errors?.required && form.ministryName.dirty" ngxTranslate="ministry_name_required">اسم الوزارة مطلوب</li>
              <li *ngIf="form.departmentName.errors?.required && form.departmentName.dirty"ngxTranslate="directorate_name_reuired">اسم المديرية مطلوب</li>
            </ul>
          </div>
        </div>
          <div class="input-group col-6 mb-3">
              <label ngxTranslate="choose_ministry">اختر الوزارة</label>
            <nb-select placeholder="من فضلك اختر الوزارة" class="w-100" outline formControlName="ministryName" [status]="form.ministryName.errors && form.ministryName.dirty && !form.ministryName.value  ? 'danger' : 'info'" >
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
          </div>
          <div class="input-group col-6 mb-3">
              <label ngxTranslate="choose_directorate" >اختر المديرية</label>
              {{ form.departmentName.dirty && !form.departmentName.value }}
            <nb-select placeholder="من فضلك اختر المديرية" class="w-100" outline formControlName="departmentName" [status]="form.departmentName.errors && form.departmentName.dirty && !form.departmentName.value ? 'danger' : 'info'" >
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
          </div>
        <div class="input-group col-6 mb-3">
          <label ngxTranslate="full_name_employ">اسم الموظف الكامل</label>
          <input type="text" nbInput fullWidth formControlName="fullName" [status]="form.fullName.errors && form.fullName.dirty ? 'danger' : ''">
        </div>
        <div class="input-group col-6 mb-3">
          <label ngxTranslate="full_name_mother">اسم الأم الكامل</label>
          <input type="text" nbInput fullWidth formControlName="motherFullName" [status]="form.motherFullName.errors && form.motherFullName.dirty ? 'danger' : ''">
        </div>
        <div class="input-group col-6 mb-3">
          <label ngxTranslate="phone_number">رقم الهاتف</label>
          <input type="text" nbInput fullWidth formControlName="phoneNumber" [status]="form.phoneNumber.errors && form.phoneNumber.dirty ? 'danger' : ''">
        </div>
        <div class="input-group col-6 mb-3">
          <label ngxTranslate="smart_number">الرقم الذكي</label>
          <input type="text" nbInput fullWidth formControlName="smartNumber" [status]="form.smartNumber.errors && form.smartNumber.dirty ? 'danger' : ''">
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton [disabled]="_form.invalid" ngxTranslate="add">أضافة</button>
  </nb-card-footer>
</nb-card>
