<nb-card>
<nb-card-header class="card_header" ngxTranslate="add_new_username">اضافة مستخدم جديد</nb-card-header>
  <nb-card-body>
    <form [formGroup]="_form" (ngSubmit)="_form.valid && onSubmit()" novalidate>
      <div class="row">
       

        <div class="input-group col-12 mb-3">
          <label ngxTranslate="email">الايميل</label>
          <input type="text" nbInput fullWidth formControlName="email" [status]="_form.controls.email.errors && _form.controls.email.dirty ? 'danger' : ''">
          <span style="color:red; font-size: 13px;" *ngIf="_form.controls.email.touched && _form.controls.email.invalid" ngxTranslate="email_location_reuired"  >الايميل مطلوب</span>
        </div>
        <div class="input-group col-6 mb-3">
          <label ngxTranslate="password">كلمة المرور</label>
          <input type="text" nbInput fullWidth formControlName="password" [status]="_form.controls.password.errors && _form.controls.password.dirty ? 'danger' : ''">
          <span style="color:red; font-size: 13px;" *ngIf="_form.controls.password.touched && _form.controls.password.invalid" ngxTranslate="password_must_be_more_than_6_letters" > كلمة المرور يجب ان تكون اكثر من 6 احرف  </span>
        </div>
        <div class="input-group col-6 mb-3">
          <label ngxTranslate="sure_password">تأكيد كلمة المرور</label>
          <input type="text" nbInput fullWidth formControlName="repassword" [status]="_form.controls.repassword.errors && _form.controls.repassword.dirty ? 'danger' : ''">
          <span style="color:red; font-size: 13px;" *ngIf="_form.controls.repassword.touched && _form.controls.repassword.invalid" ngxTranslate="password_confirmation_is_required" >تاكيد كلمة المرور مطلوب</span>
        </div>
        <div class="input-group col-12 mb-3">
          <label ngxTranslate="full_name">الاسم الكامل</label>
          <input type="text" nbInput fullWidth formControlName="name" [status]="_form.controls.name.errors && _form.controls.name.dirty ? 'danger' : ''">
          <span style="color:red; font-size: 13px;" *ngIf="_form.controls.name.touched && _form.controls.name.invalid" ngxTranslate="full_name_is_required" >الاسم الكامل مطلوب</span>
        </div>
        <div class="input-group col-12 mb-3">
          <label ngxTranslate="phone_number">رقم الهاتف</label>
          <input type="text" nbInput fullWidth formControlName="phone" [status]="_form.controls.phone.errors && _form.controls.phone.dirty ? 'danger' : ''">
          <span style="color:red; font-size: 13px;" *ngIf="_form.controls.phone.touched && _form.controls.phone.invalid" ngxTranslate="phone_number_must_be_11_digits"> رقم الهاتف يجب ان يكون 11 رقم </span>
        </div>
        <div class="input-group col-12 mb-3">
          <label ngxTranslate="user_validation">صلاحية المستخدم </label>
          <nb-select 
              class="w-100" 
              placeholder="اختر صلاحية للمستخدم" 
              outline 
              fullWidth 
              selected="{{_form.controls.role.value}}"
              formControlName="role">
            <nb-option value="Accountant"  ngxTranslate="counter"><span  ngxTranslate="counter">محاسب</span></nb-option>
            <nb-option value="operator" ngxTranslate="operator"><span  ngxTranslate="operator" >مشغل</span></nb-option>
          </nb-select>
        </div>
      </div>
    </form>
</nb-card-body>
  <nb-card-footer>
    <button nbButton [disabled]="_form.invalid" (click)="_form.valid && onSubmit()"  ngxTranslate="add">أضافة</button>
</nb-card-footer>
</nb-card>
