<div class="row">
  <div class="col-3">
      <nb-card accent="info">
          <nb-card-header ngxTranslate="ministries_number">عدد الوزارات</nb-card-header>
          <nb-card-body>{{ numberOfMinistries | number }}</nb-card-body>
      </nb-card>
  </div>
  <div class="col-3">
      <nb-card accent="success">
          <nb-card-header ngxTranslate="directorate_number">عدد المديريات</nb-card-header>
          <nb-card-body>{{ numberOfDepartments | number }}</nb-card-body>
      </nb-card>
  </div>
  <div class="col-3">
      <nb-card accent="primary">
          <nb-card-header ngxTranslate="predecessor_type_number">عدد انواع السلف</nb-card-header>
          <nb-card-body>{{ numberOfLoanTypes | number }}</nb-card-body>
      </nb-card>
  </div>
  <div class="col-3">
      <nb-card accent="danger">
          <nb-card-header ngxTranslate="predecessor_taken">السلف المأخوذة</nb-card-header>
          <nb-card-body>{{ numberOfLoansTake | number }}</nb-card-body>
      </nb-card>
  </div>
  <div class="col-4">
    <nb-card accent="primary">
        <nb-card-header ngxTranslate="users_number"> عدد المستخدمين </nb-card-header>
        <nb-card-body>{{ numberOfUsers | number }}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-4">
    <nb-card accent="success">
        <nb-card-header ngxTranslate="employs_number"> عدد الموظفين </nb-card-header>
        <nb-card-body>{{ numberOfEmployees | number }}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-4">
    <nb-card accent="info">
        <nb-card-header ngxTranslate="beneficiaries_number">  عدد المستفيدين </nb-card-header>
        <nb-card-body>{{ numberOfFounders | number }}</nb-card-body>
    </nb-card>
  </div>


  <div class="col-12">
      <nb-card>
          <nb-card-header ngxTranslate="Loans_info">معلومات القروض</nb-card-header>
          <nb-card-body>
              <ngx-charts-bar-vertical
              [results]="result"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </nb-card-body>
      </nb-card>
  </div>
</div>
